SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=expressstar846@gmail.com
SMTP_PASS=ehwhljmbuuejmycz
MAIL_FROM="Star Express <expressstar846@gmail.com>"
ADMIN_EMAIL=burgerben78@gmail.com
ADMIN_PASSWORD=Goodness44
PORT=3000